@model WebApp.Models.CategoriesViewModel
@{
}

<div class="content">
	<h1 class="text-center">Categories</h1>
	<a class="btn btn-success mt-3 mb-3" asp-action="AddCategory">Add Category</a>

	<table class="category-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Movies count:</th>
				<th>Nested level:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in @Model.Categories)
			{
			<tr>
				<td>
					@category.Title
				</td>
				<td>
					@category.Movies.Count()
				</td>
				<td>
					@{
						int nestedLevel = 0;
						var currentCategory = category;
						
						while (true){
						
							if (currentCategory.ParentCategory is null) break;
						
							currentCategory = currentCategory.ParentCategory;
							nestedLevel++;
						}
					}
					@nestedLevel
				</td>
				<td class="button-cell">
					<a class="btn btn-secondary" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@category.Id">Edit</a>
					<a class="btn btn-danger" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
	
</div>
