@model WebApp.Models.DetailMovieModel
@{
}

<div class="content">
	<div>
		<b><label>Title: </label></b>
		<p>@Model.Movie.Title</p>
	</div>

	<div>
		<b><label>Director: </label></b>
		<p>@Model.Movie.Director</p>
	</div>

	<div>
		<b><label>Release Date: </label></b>
		<p>@Model.Movie.ReleaseDate</p>
	</div>

	<div>
		<h3 class="text-center">Categories: </h3>
		<div class="d-sm-flex flex-sm-column" id="movieCategoriesContainer">
			@foreach (var category in Model.Movie.Categories)
			{
				<div class="m-1 form-check" id="@category.Id">
					<input class="check form-check-input" type="checkbox" name="category" value="@category.Id" checked/>
					<label class="form-check-label">@category.Title</label>
				</div>
			}
			@foreach (var category in Model.AvailableCategories)
			{
				<div class="m-1 form-check" id="@category.Id">
					<input class="check form-check-input" type="checkbox" name="category" value="@category.Id"/>
					<label class="form-check-label">@category.Title</label>
				</div>
			}
			<button class="btn btn-success m-3 mx-auto" style="width: 120px;" id="confirmCategoryButton">Confirm</button>
		</div>
	</div>
</div>