@model WebApp.Models.MoviesViewModel
@{
}

<div class="content">
	<h1 class="text-center">Movies</h1>
	<a class="btn btn-success mt-3 mb-3" asp-action="AddMovie">Add Movie</a>

	<div class="d-inline-block m-3">
		<label for="category">Select a category to sort:</label>
		<select id="categorySelector">
			@foreach (var category in Model.Movies.SelectMany(m => m.Categories)
													.DistinctBy(c => c.Id)
													.OrderBy(c => c.Id))
			{
				<option value="@category.Title">@category.Title</option>
			}
		</select>
	</div>

	<table class="category-table" id="movieTable">
		<thead>
			<tr>
				<th>Title</th>
				<th>Director:</th>
				<th>Categories:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var movie in @Model.Movies)
			{
			<tr>
				<td>
					<a asp-controller="Movie" asp-action="DetailMovie" asp-route-id="@movie.Id">@movie.Title</a>
				</td>
				<td>
					@movie.Director
				</td>
				<td>
					@string.Join(", ", movie.Categories.Select(c => c.Title))
				</td>
				<td class="button-cell">
					<a class="btn btn-secondary" asp-controller="Movie" asp-action="UpdateMovie" asp-route-id="@movie.Id">Edit</a>
					<a class="btn btn-danger" asp-controller="Movie" asp-action="DeleteMovie" asp-route-id="@movie.Id">Delete</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
	
</div>
